


.bg-texture {
    background-image: url('../../public/images/inicio/Texturas.png');
}

.celda-con-icono {
    position: relative;
}

/* Estilo para el icono */
.icono-ajustado {
    position: absolute;
    top: 0;
    left: 0;
}