.bg-cover {
  background: url('../css/loginResources/Texturas.png') no-repeat center center;
  background-size: cover;
}

.bg-opacity-90 {
  background-color: rgba(255, 255, 255, 0.95);
}

/* Sombra normal */
.shadow-lg {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Más sombra y elevación al hacer hover */
.shadow-lg:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

/* Botón animado */
.btn-success {
  background-color: #28a745;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #218838;
}

/* Mejora el input-group */
.input-group-text {
  background-color: #e9ecef;
  border: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
